<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>comment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <h2>comment</h2>

    <p th:if="${commentError}">ユーザーID、パスワードが空です。</p>

    <form action="#" th:action="@{''}" th:object="${usernameForm}" class="form-horizontal text-control-config" method="post">
        <div class="form-group">
            <div>あなたは{{ userId }}さんですね。表示名を変更する場合はここに入力してください。</div>
            <input type="text" class="form-control" th:field="*{username}"  v-model="inputText"
                      :class="{ 'is-invalid': isEmpty }" @keydown.ctrl.enter.prevent="submit">
            <div class="invalid-feedback">何か文字を入力してください</div>
            <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
        </div>

        <span class="form-group">
        </span>
        <span class="badge badge-info float-right m-2">Ctrl + Enter : 送信</span>
    </form>

    <form action="#" th:action="@{''}" th:object="${emailForm}" class="form-horizontal text-control-config" method="post">
        <div class="form-group">
            <div>Emailアドレスを変更する場合はここに入力してください。</div>
            <input type="text" class="form-control" th:field="*{email}"  v-model="inputText"
                   :class="{ 'is-invalid': isEmpty }" @keydown.ctrl.enter.prevent="submit">
            <div class="invalid-feedback">何か文字を入力してください</div>
        </div>

        <span class="form-group">
            <button class="btn btn-outline-primary float-right" type="button" @click="submit" v-bind:disabled=isEmpty>Save</button>
        </span>
        <span class="badge badge-info float-right m-2">Ctrl + Enter : 送信</span>
    </form>

    <form action="#" th:action="@{''}" th:object="${iconForm}" class="form-horizontal text-control-config" method="post">
        <div class="form-group">
            <div>アイコンを変更する場合はここに入力してください。</div>
            <input type="file" class="form-control" th:field="*{icon}"  v-model="inputText"
                   :class="{ 'is-invalid': isEmpty }" @keydown.ctrl.enter.prevent="submit">
            <div class="invalid-feedback">何か文字を入力してください</div>
        </div>

        <span class="form-group">
            <button class="btn btn-outline-primary float-right" type="button" @click="submit" v-bind:disabled=isEmpty>Save</button>
        </span>
        <span class="badge badge-info float-right m-2">Ctrl + Enter : 送信</span>
    </form>

</div>

<script th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
<script th:src="@{/webjars/axios/0.21.0/dist/axios.min.js}"></script>
<script th:src="@{/js/config.js}"></script>

</body>
</html>