<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <title>comment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
    <style>
            .navbar{
                flex-direction: column !important;
                padding:0px;
            }

            .fixed-top{
                height:　50px;
                line-height: 50px;
                padding-top: 0px;
            }

            .fixed-side{
                position: fixed;
                font-size:20px;
                letter-spacing:5px;
            }

            .nav-item:hover{
                background-color:rgba(29,161,242,0.3);
                text-decoration: none;
                color:#1DA1F2;
            }

            .sm-a{
                font-weight:bold;
                color:black;
                font-size:3rem;
                padding:5px;
            }

            .lg-a{
                font-weight:bold;
                color:black;
                font-size:1.4rem;
                padding:5px;
            }

            .active{
                color:#1DA1F2;
            }

            .block{
                padding:0px;
                border:0px;
            }

            .sm-btn-tweet{
                font-size:3rem;
            }


            .lg-btn-tweet{
                font-size:1.8rem;
            }

        </style>
</head>

<body>

<div class="container-fluid d-lg-none d-block px-0" style="padding-top:100px; padding-bottom:165px;">
    <nav class="navbar fixed-top">
        <div class="container-fluid block">
            <div class="col-12 py-4 border" style ="background-color: white; font-size: 3rem;">CONFIG</div>
        </div>
    </nav>
    <!---メニューバー--->
    <div class="w-100" style="height:0px;">
        <a type="button" class="btn" role="button"  href="config.html">
            <img src="../image/logout.png" class="img-thumbnail rounded-circle fixed-bottom" style="width:120px; height:120px; margin-bottom:175px; margin-left:auto; margin-right:20px;">
        </a>
    </div>

    <footer class ="fixed-bottom" style ="background-color:white">
        <a class="nav-item sm-a active" href="/user/home">ホーム</a>
        <a class="nav-item sm-a" href="/mypage">マイページ</a>
        <a class="nav-item sm-a" href="/config">設定</a>
    </footer>
    <div class ="flex-column" id="accordion-sm" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading-username-sm">
                <h5 class="mb-0">
                    <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-username-sm" aria-expanded="true" aria-controls="collapse-username-sm" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">名前変更</a>
                </h5>
            </div>
            <div id="collapse-username-sm" class="collapse" role="tabpanel" aria-labelledby="heading-username-sm">
                <div class="card-body">
                    <form action="#" th:action="@{/config-username}" th:object="${usernameForm}" class="form-horizontal text-control-config" method="post">
                        <div class="form-group">
                            <div>あなたは{{ userId }}さんですね。表示名を変更する場合はここに入力してください。</div>
                            <input type="text" class="form-control" th:field="*{username}"  v-model="inputText"
                                   :class="{ 'is-invalid': isEmpty }">
                            <div class="invalid-feedback">何か文字を入力してください</div>
                            <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" role="tab" id="heading-email-sm">
                <h5 class="mb-0">
                    <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-email-sm" aria-expanded="true" aria-controls="collapse-email-sm" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">メールアドレス変更</a>
                </h5>
            </div>
            <div id="collapse-email-sm" class="collapse" role="tabpanel" aria-labelledby="heading-email-sm">
                <div class="card-body">
                    <form action="#" th:action="@{/config-email}" th:object="${emailForm}" class="form-horizontal text-control-config" method="post">
                        <div class="form-group">
                            <div>Emailアドレスを変更する場合はここに入力してください。</div>
                            <input type="text" class="form-control" th:field="*{email}"  v-model="inputText"
                                   :class="{ 'is-invalid': isEmpty }">
                            <div class="invalid-feedback">何か文字を入力してください</div>
                            <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header" role="tab" id="heading-icon-sm">
                    <h5 class="mb-0">
                        <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-icon-sm" aria-expanded="true" aria-controls="collapse-icon-sm" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">アイコン変更</a>
                    </h5>
                </div>
                <div id="collapse-icon-sm" class="collapse" role="tabpanel" aria-labelledby="heading-icon-sm">
                    <div class="card-body">
                        <form action="#" th:action="@{/config-icon}" th:object="${iconForm}" class="form-horizontal text-control-config" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div>アイコンを変更する場合はファイルを選択してください（jpgのみ・100KB以内）</div>
                                <input type="file" class="form-control" th:field="*{icon}"  v-model="inputText"
                                       :class="{ 'is-invalid': isEmpty }">
                                <div class="invalid-feedback">何か文字を入力してください</div>
                                <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container d-none d-lg-block" style="padding-top:52px; padding-bottom:10px;">
    <nav class="navbar fixed-top">
        <div class="container-lg block">
            <div class="col-lg-6 offset-lg-3 border" style ="background-color: white">CONFIG</div>
        </div>
    </nav>

    <div class="row">
        <!---サイドバー--->
        <div class ="col-lg-3">
            <nav class="navbar fixed-side" style ="background-color:white">
                <a class="nav-item w-100 text-center m-1 lg-a" href="/user/home">ホーム</a>
                <a class="nav-item w-100 text-center m-1 lg-a" href="/mypage">マイページ</a>
                <a class="nav-item active w-100 text-center m-1 lg-a" href="/config">設定</a>
            </nav>
        </div>

        <div class="col-lg-6 px-0">
            <div class ="flex-column" id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="heading-username">
                        <h5 class="mb-0">
                            <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-username" aria-expanded="true" aria-controls="collapse-username" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">名前変更</a>
                        </h5>
                    </div>
                    <div id="collapse-username" class="collapse" role="tabpanel" aria-labelledby="heading-username">
                        <div class="card-body">
                            <form action="#" th:action="@{/config-username}" th:object="${usernameForm}" class="form-horizontal text-control-config" method="post">
                                <div class="form-group">
                                    <div>あなたは{{ userId }}さんですね。表示名を変更する場合はここに入力してください。</div>
                                    <input type="text" class="form-control" th:field="*{username}"  v-model="inputText"
                                           :class="{ 'is-invalid': isEmpty }">
                                    <div class="invalid-feedback">何か文字を入力してください</div>
                                    <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" role="tab" id="heading-email">
                        <h5 class="mb-0">
                            <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-email" aria-expanded="true" aria-controls="collapse-email" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">メールアドレス変更</a>
                        </h5>
                    </div>
                    <div id="collapse-email" class="collapse" role="tabpanel" aria-labelledby="heading-email">
                        <div class="card-body">
                            <form action="#" th:action="@{/config-email}" th:object="${emailForm}" class="form-horizontal text-control-config" method="post">
                                <div class="form-group">
                                    <div>Emailアドレスを変更する場合はここに入力してください。</div>
                                    <input type="text" class="form-control" th:field="*{email}"  v-model="inputText"
                                           :class="{ 'is-invalid': isEmpty }">
                                    <div class="invalid-feedback">何か文字を入力してください</div>
                                    <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" role="tab" id="heading-icon">
                            <h5 class="mb-0">
                                <a class="nav-link border lg-a" data-toggle="collapse" href="#collapse-icon" aria-expanded="true" aria-controls="collapse-icon" style="padding:0px;font-weight:lighter"><img src="../image/121_arr_hoso.png" class="img-fluid border-0" style="width:60px; height:67px">アイコン変更</a>
                            </h5>
                        </div>
                        <div id="collapse-icon" class="collapse" role="tabpanel" aria-labelledby="heading-icon">
                            <div class="card-body">
                                <form action="#" th:action="@{/config-icon}" th:object="${iconForm}" class="form-horizontal text-control-config" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div>アイコンを変更する場合はファイルを選択してください（jpgのみ・100KB以内）</div>
                                        <input type="file" class="form-control" th:field="*{icon}"  v-model="inputText"
                                               :class="{ 'is-invalid': isEmpty }">
                                        <div class="invalid-feedback">何か文字を入力してください</div>
                                        <input type="submit" class="btn btn-outline-primary float-right" v-bind:disabled=isEmpty value="Save">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
<script th:src="@{/webjars/axios/0.21.0/dist/axios.min.js}"></script>
<script th:src="@{/js/config.js}"></script>

</body>
</html>