<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf で出力しますよ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
    <!-- th:text内で${<変数名>}と書くことでController側で同期した変数を扱える。 -->
    <p th:text="'こんにちは, ' + ${name} + 'さん!'" />
    <p>ようこそいらっしゃいました。</p>
    <table class="table">
        <thead class="sunflower">
        <tr>
            <td>NAME</td>
        </tr>
        </thead>
        <!-- th:eachはJavaのforeach文のような仕様。 左側の変数に配列の要素が入れられる。-->
        <tbody th:each="list : ${name}">
        <tr>
            <td class="text-str" th:text="${list}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>