<!doctype html>
<html>
    <head>
    <meta charset="UTF-8">
        <title>ホーム</title>
        <link rel = "stylesheet" href="../static/css/style_sample.css">
    </head>
    <body>

    <!–タイムライン->
        <div class = "timeline">
            <h1><a href = "home.html">ホーム</a></h1>
            <div class = "block">
                <div class = "icon"><img src = "img/icon_1.jpg"></div>
                <div class = "name">なまえええええええ！</div>
                <div class = "time">1時間前</div>
                <p class = "text">ねむーい！</p>
            </div>
            <div class = "block">
                <div class = "icon"><img src = ""></div>
                <div class = "name">なまえ</div>
                <div class = "time">1時間前</div>
                <p class = "text">中々上手く行かないな(´・ω・｀)
                あああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ</p>
            </div>
            <!–メニューバー->
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/script.js"></script>
    </body>
</html>