<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Swapping Positive</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>login</h1>

    <!-- ログインできなかった時のエラーメッセージ -->
    <p th:if="${loginError}">Login Error!!</p>

    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>ユーザーID</td>
                <td>
                    <input type="text" name="userId" />
                </td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>
                    <input type="password" name="password" />
                </td>
            </tr>
        </table>
        <input name="remember-me" type="checkbox" />ログインしたままにする
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" name="login" value="ログイン" />
    </form>
</body>
</html>