<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container">
    <h2>Register</h2>

    <p th:if="${registerError}">ユーザーID、パスワードが空です。</p>

    <form action="#" th:action="@{''}" th:object="${registerForm}" class="form-horizontal" method="post">

        <div class="form-group">
            <label th:for="userId">ユーザーID</label>
            <input type="text" class="form-control" th:field="*{userId}"
                   th:class="${'form-control' + (#fields.hasErrors('userId') ? ' is-invalid' : '')}"/>
            <div class="invalid-feedback" th:errors="*{userId}">ユーザーIDが不正です</div>
        </div>

        <div class="form-group">
            <label th:for="username">表示名</label>
            <input type="text" class="form-control" th:field="*{username}"
                   th:class="${'form-control' + (#fields.hasErrors('username') ? ' is-invalid' : '')}"/>
            <div class="invalid-feedback" th:errors="*{username}">Email Error</div>
        </div>

        <div class="form-group">
            <label th:for="password">パスワード</label>
            <input type="password" class="form-control" th:field="*{password}"
                   th:class="${'form-control' + (#fields.hasErrors('password') ? ' is-invalid' : '')}"/>
            <div class="invalid-feedback" th:errors="*{password}">パスワードが不正です</div>
        </div>

        <div class="form-group">
            <label th:for="email">Email address</label>
            <input type="text" class="form-control" th:field="*{email}"
                   th:class="${'form-control' + (#fields.hasErrors('email') ? ' is-invalid' : '')}"/>
            <div class="invalid-feedback" th:errors="*{email}">Email Error</div>
        </div>

        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
    </form>

    <p class="text-primary">hello</p>

</div>

<script th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</body>
</html>