<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>タイムライン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <h2 class="mb-5">タイムライン</h2>

    <p th:if="${commentError}">ユーザーID、パスワードが空です。</p>

<!--    <div th:each="comment : ${comments}" th:if="${comment.replyParentId} == null" class="media border border-primary">-->
<!--        <img class="d-flex align-self-start mr-3">-->
<!--        <div class="media-body">-->
<!--            <h5 class="mt-0" th:text="${comment.userId}"></h5>-->
<!--            <a class="text-dark" th:href="@{/{userId}/comment/{commentId}(userId=${comment.userId},commentId=${comment.commentId})}">-->
<!--                <p th:text="${comment.comment}"></p>-->
<!--            </a>-->
<!--            <div id="reply" th:each="reply : ${service.findByReplyParentId(comment.commentId)}" class="ml-5">-->
<!--                <img class="d-flex align-self-start mr-3">-->
<!--                <div class="media-body">-->
<!--                    <h5 class="mt-0" th:text="${reply.userId}"></h5>-->
<!--                    <a class="text-dark" th:href="@{/{userId}/comment/{commentId}(userId=${reply.userId},commentId=${reply.commentId})}">-->
<!--                        <p th:text="${reply.comment}"></p>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="comment-view">
        <div class="media border border-primary" :key="comment.commentId" v-for="comment in comments">
        <img class="d-flex align-self-start mr-3">
            <div class="media-body">
                <h5 class="mt-0">{{comment.userId}}</h5>
                <a class="text-dark" :href="'/' + comment.userId + '/comment/' + comment.commentId">
                    <p>{{comment.comment}}</p>
                </a>
                <div class="chat icon"></div>{{comment.replies.length}}
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
<script th:src="@{/webjars/axios/0.21.0/dist/axios.min.js}"></script>
<script th:src="@{/js/timeline.js}"></script>


</body>
</html>