<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>タイムライン</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}" />
</head>

<body>
<div class="container">
    <h2 class="mb-5">タイムライン</h2>

    <p th:if="${commentError}">ユーザーID、パスワードが空です。</p>

    <div class="comment-view">
        <comment-view v-for="comment in comments" :comment="comment">
        </comment-view>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">Action</a>
            <a class="dropdown-item" href="#!">Another action</a>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.js}"></script>
<script th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
<script th:src="@{/webjars/axios/0.21.0/dist/axios.min.js}"></script>
<script th:src="@{/js/timeline.js}"></script>

</body>
</html>